* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    background: url('nopro.gif');
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.App :before {
    background: url("nopro.png");
    background-size: contain;
    position: absolute;
}

.app {
    overflow-x: auto;
    position: absolute;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: 22vh 40vw 20vh 40vw;
    width: 500px;
    align-items: center;
}

.container {
    display: inline-block;
    border: 1px solid #ff0082;
    border-radius: 10px;
    width: 420px;
}

.card {
    background-color: rgba(0, 253, 151, 0.16);
    width: 100%;
    padding: 10px;
}

.btn {
    border: 1px solid mediumpurple;
    border-radius: 10px;
    cursor: pointer;
}

h1 {
    align-self: center;
    padding-top: 10rem;
    color: beige;
}

.p {
    font-size: 5.5rem;
}